h1{
    
     color: rgb(255, 255, 255);
}
h3{
    color: rgb(255, 255, 255);
}
h4{
    color: rgb(253, 250, 250);
}
img{
    width: 400px;
    
}
#thirdDiv{
    
    height: 600px;
    width: 500px;
    background-color:transparent;
    padding: 50px;
    border: 3px solid rgb(119, 182, 211);
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
#spanId{
    font-size: 40px;
    margin: 50px;
    color: rgb(255, 255, 255);
}
html{
    background-image: url(https://www.fotoswiki.net/Uploads/fotoswiki.net/Resoluciones/1984-1920x1080.jpg);
}
a{
    color: rgb(255, 255, 255);
}
.divClass{
    text-align: center;
}
